@import './Variables.css';
.header {
width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color:var(--secundario);
  border-bottom: 1px solid var(--primario);
}

.logo {
  justify-content: center;
  font-size: 1.8rem;
  font-weight: bold;
}
.logo img {
  border-radius: 10px;
  height: 80px;
}
.cart {
  position: relative;
  font-size: 1.5rem;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: var(--terciario);
  color:var(--primario);
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.8rem;
}
